myVim.log
.env
.idea
Session.vim
.byebug_history
*.iml
.DS_Store
.ipynb_checkpoints/
.vscode/
.venv
.virtual_documents/
*__pycache__/
.mypy_cache/
.local_dev/
.claude/
luke_scratch/

**/.claude/settings.local.json
