[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  focus = system
  inactive_color_offset = 0.73
  title_inactive_bg_color = "#d9d4d4"
[keybindings]
  copy = <Primary>c
  move_tab_left = None
  move_tab_right = None
  new_tab = <Primary><Shift>n
  next_tab = <Alt>Page_Down
  paste = <Primary>v
  prev_tab = <Alt>Page_Up
  resize_down = None
  resize_left = None
  resize_right = None
  resize_up = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.88
    background_image = None
    background_type = transparent
    font = DejaVu Sans Mono for Powerline 11
    foreground_color = "#ffffff"
    palette = "#2e3436:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#68cc05:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
